video {
    width: 100%;
    object-fit: fill;
    margin-bottom: 50px;
}

.background {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/Imgs/img1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.main-image {

    display: flex;
    justify-content: center;
    align-items: center;
    .image1 {
        width: 400px;
    }
}

.row1 {
    font-family: "PT Sans Regular", sans-serif !important;

    .title {
        font-size: 30px;
        font-family: "PT Sans Bold", sans-serif !important;
        font-weight: 500;
        color: rgb(22, 174, 224);
    }

    .text {
        font-size: 16px;
        text-align: justify;
    }
}

.demo-button {
    width: 230px;
    font-size: 18px;
    margin: 50px auto;
    padding: 10px;
    background: #005f84;
    border-radius: 50px;
    border-color: transparent;
    cursor: pointer;
    color: #fefefe;
    transition: 0.3s;
    font-family: "PT Sans Regular", sans-serif !important;

    span {
        margin-right: 5px;
    }
}

.demo-button:hover {
    border-color: #005f84;
    color: #005f84;
    background: (#fefefe);
}