.block-container {
    margin-top: 150px !important;

    .title {
        font-family: "PT Sans Bold", sans-serif !important;
    }
    .cards {
        display: flex;
        justify-content: center;
        margin: 30px 0;

        .block {
            box-shadow: rgba(0, 0, 0, 0.8) 0px 10px 15px;
            width: 95% !important;
            height: 230px;
            border-radius: 13px !important;
            position: relative;
            background: #005f84;
            display: flex !important;
            justify-content: center !important;

            .block-filter {
                position: absolute;
                width: 50px;
                height: 100%;
                background: linear-gradient(0.25turn, #ffffff00, #005f84);
                left: 270px;
            }

            img {
                height: 230px;
                border-radius: 13px 0 0 13px !important;
            }


            .flex-box {
                background: #005f84;
                height: 220;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                border-radius: 0 13px 13px 0 !important;
                color: white;
                font-family: "PT Sans Bold", sans-serif !important;


                p {
                    font-family: "PT Sans Regular", sans-serif !important;
                    font-size: 15px;
                    margin-right: 30px;
                    text-align: justify;
                }

                .demo-button-sm {
                    width: 180px;
                    font-size: 15px;
                    padding: 10px;
                    background: #005f84;
                    border-radius: 50px;
                    cursor: pointer;
                    color: #fefefe;
                    border: 1px solid white;
                    transition: 0.3s;

                    span {
                        margin-right: 5px;

                    }
                }
            }

            .demo-button-sm:hover {
                border-color: #005f84;
                color: #005f84;
                background: (#fefefe);
            }
        }
    }
}